.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  &.right {
    .book {
      left: 40px;
    }
    .controls {
      right: 40px;
    }
  }

  &.left {
    .book {
      right: 40px;
    }
    .controls {
      left: 40px;
    }
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slide {
    flex: 0 0 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .book {
    position: absolute;
    bottom: 40px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .controls {
    position: absolute;
    top: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    button {
      margin: 0 5px;
      padding: 20px;
      background-color: black;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.1);
      }

      &.active {
        background-color: #BB9F80;
        color: black;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;

    span {
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: #BB9F80;
      }
    }
  }
}
