<div class="carousel" [ngClass]="isRight ? 'right' : 'left'">
  <div class="slides" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'">
    <div class="slide" *ngFor="let slide of currentSection?.images" [ngStyle]="{ backgroundImage: 'url(' + slide + ')'}"></div>
  </div>
  <div class="controls">
    <button *ngFor="let section of sections; let i = index" (click)="goToSection(i)" [class.active]="currentSectionIndex === i">{{ section.title }}</button>
  </div>
  <div class="dots">
    <span *ngFor="let slide of currentSection?.images; let i = index" (click)="goToSlide(i)" [class.active]="currentSlideIndex === i"></span>
  </div>
  <button class="book" routerLink="/book-now" [state]="currentSection">Book now</button>
</div>
