<app-home-intro></app-home-intro>
<app-parallax [details]="{
    bgColor: 'white',
    color: 'black',
    height: '80vh',
    bgImage: bgImage,
  }"
  [contentExist]="false"
></app-parallax>
<app-text>
  <p appScrollAnimation [animation]="animations.right">
    Art of Catering is a highly regarded hospitality brand and
    <span class="yellow">one of the most trusted</span>
    catering companies in the Kingdom of Saudi Arabia.
  </p>
</app-text>
<app-info
  height="400px"
  title="Our Clients"
  description='description | description | description | description | description | description | description | description | description | description | description | description | description'
></app-info>
<app-clients></app-clients>
