.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 300px;
    height: fit-content;

    padding: 40px;
  }
}
