<app-info
  height="calc(100vh - 120px)"
  title="ABOUT US"
  description="Art of Catering is a highly regarded hospitality brand and one of the most trusted catering companies in the Kingdom of Saudi Arabia. Based out of Khobar it offers exemplary services across all catering and hospitality related allied services."
></app-info>
<app-parallax [details]="{
  bgColor: 'black',
  color: 'white',
  height: '300vh',
  bgImage: '/assets/images/about-us.jpg',
  }">
    <p>We apply strict hygiene and quality standards in sourcing and preparing
      our high quality food to cater for variety of local and International cuisines.</p>
  </app-parallax>
<app-rewards></app-rewards>
