.intro {
  height: calc(100vh - 120px);
  display: flex;

  padding-top: 120px;

  &-item {
    width: 50%;

    &:nth-child(1) {
      width: 100%;
      max-width: 680px;
      margin: 0 0 0 auto;
      padding: 0 40px;

      text-align: right;

      h1 {
        margin: 100px 0 40px 0;
        font-size: 64px;
        line-height: normal;
      }
    }

    &:nth-child(2) {
      background: url('/assets/images/philosophy-intro.jpg') center;
    }
  }
}

@media (max-width: 900px) {
  .intro-item {

    &:nth-child(1) {
      text-align: center;
      margin: auto;
      h1 {
        font-size: 40px !important;
        margin: 40px 0;
      }
    }

    &:nth-child(2) {
      display: none;
    }

  }
}
