.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: white;

  height: 100vh;

  display: flex;

  &-body {
    display: flex;
    height: 100%;
  }

  &-item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(2) {
      justify-content: flex-end;
      align-items: flex-end;
    }

    &_logo {
      width: 120px;
      height: 120px;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    &_welcome {
      font-size: 24px;
    }

    &_description {
      padding: 20px;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      color: white;
    }

    &_nav {
      width: fit-content;
    }

    &_ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      color: white;
      padding: 20px;
      gap: 10px;
    }

    &_li {
      width: fit-content;
      font-size: 20px;
      text-transform: uppercase;
    }

    a {
      color: white;
    }
  }
}

@media (max-width: 900px) {
  .intro-item_description {
    display: none;
  }
}
