.info {
  text-align: center;

  display: flex;
  flex-direction: column;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    h1 {
      font-size: 64px;
      line-height: normal;
      margin-bottom: 40px !important;
    }

    p {
      font-size: 32px;
      line-height: normal;
      color: rgba(0, 0, 0, 0.7);
      margin: 0;
    }
  }
}


@media (max-width: 600px) {
  .info {
    height: fit-content !important;
  }
}
