<app-info
  height="400px"
  title="SERVICES"
  description="Our menus has been prepared by international and well experienced chefs in Saudi market with a variety to avoid 'menu fatigue' and ensure the food serving is tasty and nutritious"
></app-info>
<app-carousel [sections]="service1"></app-carousel>
<div class="line" appScrollAnimation [animation]="animations.top">
  <img src="/assets/images/logo.png" class="logo">
</div>
<app-carousel [sections]="service2" [isRight]="false"></app-carousel>
