:host {
  padding-top: 120px;
  display: block;

  .line {
    height: 200px;
    background-color: black;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
