<section class="form">
  <div class="container">
    <div class="form-body">
      <div class="form-title">
        <h2 appScrollAnimation [animation]="animations.left">{{ subtitle }}</h2>
        <h1 appScrollAnimation [animation]="animations.bottom">{{ title }}</h1>
      </div>
      <form action="" [formGroup]="form">
        <mat-form-field appScrollAnimation [animation]="animations.top">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="form.controls.name.errors?.required">Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.left">
          <mat-label>Event date</mat-label>
          <input type="text" matInput formControlName="eventDate">
          <mat-icon matSuffix>calendar_today</mat-icon>
          <mat-error *ngIf="form.controls.eventDate.errors?.required">Event date is <strong>required</strong></mat-error>
          <mat-error *ngIf="form.controls.eventDate.errors?.invalidDate">Event date is <strong>invalid</strong> (YYYY-MM-DD)</mat-error>
          <mat-error *ngIf="form.controls.eventDate.errors?.futureDate">The date of the event is already in the <strong>past</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.right">
          <mat-label>Event time</mat-label>
          <input type="text" matInput formControlName="eventTime">
          <mat-icon matSuffix>access_time</mat-icon>
          <mat-error *ngIf="form.controls.eventTime.errors?.required">Event time is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.left">
          <mat-label>Number of guests</mat-label>
          <input type="text" matInput formControlName="numberOfGuests">
          <mat-error *ngIf="form.controls.numberOfGuests.errors?.required">Number of audience is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.right">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
          <mat-error *ngIf="form.controls.email.errors?.required">Email is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.left">
          <mat-label>Phone</mat-label>
          <input type="tel" matInput formControlName="phone">
          <mat-error *ngIf="form.controls.phone.errors?.required">Phone is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appScrollAnimation [animation]="animations.bottom">
          <mat-label>Information</mat-label>
          <input type="text" matInput formControlName="information">
          <mat-error *ngIf="form.controls.information.errors?.required">Information is <strong>required</strong></mat-error>
        </mat-form-field>

        <button [disabled]="form.invalid" mat-flat-button appScrollAnimation [animation]="animations.top" (click)="submitForm()">SUBMIT</button>
      </form>
    </div>
  </div>
</section>
