.form {

  &-body {
    display: flex;
  }

  &-title {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 32px;
      line-height: normal;

      text-transform: uppercase;
    }

    h1 {
      font-size: 64px;
      line-height: normal;

      text-transform: uppercase;
    }
  }

  form {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    button {
      width: 200px;
      height: 64px;
      background-color: black;
      color: white;

      transition: all .3s;

      &:hover {
        opacity: .8;
      }
    }
  }
}

::ng-deep {

  .mat-mdc-text-field-wrapper {
    background-color: white !important;
  }

  mat-form-field {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .form-body {
    flex-direction: column;
  }

  .form-title {
    width: 100%;
  }

  form {
    width: 100% !important;
  }
}
