<app-philosophy-intro></app-philosophy-intro>
<app-parallax [details]="{
  bgColor: 'black',
  color: 'white',
  height: '120vh',
  bgImage: parallaxImage,
  }">
  <h2>ONLY <div class="yellow">THE BEST</div> IS GOOD ENOUGH</h2>
  <p>We work directly with each client to select the perfect menu for each event, and we are able to provide exceptional catering services to many companies, individuals and governmental events. Our aim is to take the dinner table out of the familiar and to create an elegant occasions, memorable events and tasteful creations.</p>
</app-parallax>
