:host {
  overflow: hidden;
  max-width: 100vw;
}


::ng-deep {

  .mat-mdc-text-field-wrapper {
    background-color: white !important;

    --mat-select-focused-arrow-color: hsla(32, 30%, 62%, 0.75) !important;
    --mdc-filled-text-field-focus-active-indicator-color: #b6834a !important;
    --mdc-filled-text-field-focus-label-text-color: #BB9F80 !important;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #b6834a !important;
  }
}
